@import url("https://fonts.googleapis.com/css?family=Bungee+Inline");
@import url("https://fonts.googleapis.com/css?family=Bitter");
html {
  background-color: aquamarine;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 3.8vw;
  font-family: "Bungee Inline", cursive;
  letter-spacing: -2px;
}

#quote-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin: 40px;
  width: 80vw;
  height: 38vh;
  background-color: white;
  font-family: "Bitter", serif;
}

.buttonDiv {
  align-self: center;
  justify-content: space-evenly;
  display: inline-flex;
  width: 100%;
}

.socialButton {
  background-color: auto;
  width: 10vw;
  height: 30px;
  font-size: 4vw;
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
}
.myButton {
  background-color: auto;
  width: 25vw;
  height: 30px;
  font-size: 3vw;
  border-radius: 5px;
}
.myButton:hover {
  background-color: aqua;
}

#quote {
  font-size: 5vw;
  text-align: left;
  align-self: flex-start;
  flex-basis: 50%;
}
#author {
  align-self: flex-end;
  flex-basis: 15%;
  font-size: 3.5vw;
  font-style: italic;
}

@media (min-width: 481px) and (max-width: 780px) {
}
@media (min-width: 781px) {
}
